
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");


body{
    font-family: Comfortaa, serif;
    background: linear-gradient(90deg, #350ED8 0%, #1D1C1C 100%);
}
p{
    color: aquamarine;
}
.nav-link{
    color: aquamarine;
}

.navbar-nav .nav-link.active{
    color: rgb(134, 124, 145);
}
.navbar-brand img{
    margin-right: 50px;
    width: 60px;
}
.navbar-toggler{
    background-color: rgb(134, 124, 145) ;
}
.sidebar{
    color: aquamarine;
    background: linear-gradient(270deg, #23098b 0%, #251a1a 100%);
}
.card{
    background: linear-gradient(270deg, #23098b 0%, #251a1a 100%); 
    color: aquamarine;   
}
.card a {
    text-decoration: none;
    color: aquamarine;
}


.slide-text,
.footer-text{
  color: aquamarine;  
  margin: auto auto;
}
@media (max-width: 755px) {
    .carousel-indicators{
        display: none;
    }
}




footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #23098b 0%, #251a1a 100%);  

}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}
.media-links img {
   
    margin-inline: 1em;
    border-radius: 50%;
}
.nav-item img{
    margin-inline: 0.5em;
    width: 25px;
    border-radius: 50%;
}
.ph-help img{
    width: 108px;
    border-radius: 50%; 
}

.call-animation {
    animation: froggy 4s ease 5s infinite normal forwards;
}

@keyframes froggy {
	0% {
		opacity: 0;
		transform: rotate(-540deg) scale(2);
	}

	100% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}
}